@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&display=swap');

.title {
  font-family: 'Bangers', cursive;
  font-size: 100px;
  color: #ffb700;
  text-shadow: 5px 5px #ff0000;
  text-orientation: mixed;
  letter-spacing: .2rem;
}

.subtitle {
  color:#ffb700;
  font-family: 'Bangers', cursive;
  text-decoration: underline #ff0000;
}

.categories {
  font-family: 'Bangers', cursive;
  font-size: 50px;
  color: #ffb700;
  text-shadow: 3px 3px #ffb700;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #ffb700;
    padding: 10px;
    flex-wrap: wrap;
  }

  /* Style for the navigation bar images */
  .navbar img {
    width: 300px;
    height: 250px;
    border-radius: 8%;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 20px;
    box-shadow: 5px 10px #000000;
  }

  /* Hover effect for images */
  .navbar img:hover {
    transform: scale(1.2);
    box-shadow: 5px 10px #000000;
  }
 .container, .title {
   
    text-align: center;
}
.categories {
    text-align: center;
    color: rgb(232, 42, 42);
    padding: 30px;
}

.image_re-size {
  height: 300px;
  width: 250px;
  margin: 20px;
  border: 5px solid #000000;
}
.image_re-size:hover{
  transform: scale(1.2);
  box-shadow: 5px 10px #000000;
}

.star {
  color:#ffb700;
  font-family: 'Bangers', cursive;
  text-decoration: underline #ff0000;
}

body {
  background-color: rgb(72, 8, 8);
}
.resultcata{
  background-color: #ffb700;
  border-color: #000000;
  border-width: 5px;
  border-radius: 10px;
}
.is-flex {
  display: flex;
  flex-wrap: wrap;
}
