.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #eed7d7;
    padding: 10px;
  }

  /* Style for the navigation bar images */
  .navbar img {
    width: 110px;
    height: 110px;
    border-radius: 8%;
    cursor: pointer;
    transition: transform 0.2s;
  }

  /* Hover effect for images */
  .navbar img:hover {
    transform: scale(1.2);
  }
 .container, .title {
   
    text-align: center;
}
.categories {
    text-align: center;
    color: rgb(232, 42, 42);
    padding: 30px;
}

  